version: "3.3"

services:
  apprise:
    image: caronc/apprise:latest
    ports:
      - 8073:8000
    volumes:
      - /var/lib/apprise/config:/config
    restart: unless-stopped
    networks:
      - traefik_reverse_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.apprise.rule=Host(`apprise.{{ domain }}`)"
      - "traefik.http.routers.apprise.entrypoints=websecure"
      - "traefik.http.routers.apprise.tls.certresolver=myresolver"
      - "traefik.http.services.apprise.loadbalancer.server.port=8000"

networks:
  traefik_reverse_proxy:
    external: true
