services:
  mon1:
    image: ceph/daemon:latest
    container_name: mon1
    hostname: mon1
    command: mon -i mon1 --mon-initial-members mon1 --public-network 172.27.0.0/24
    networks:
      ceph-net:
        ipv4_address: 172.27.0.11
    volumes:
      - ceph-mon1:/var/lib/ceph/mon/ceph-mon1
    ports:
      - "6789:6789"
    deploy:
      restart_policy:
        condition: on-failure

  mgr1:
    image: ceph/daemon:latest
    container_name: mgr1
    hostname: mgr1
    command: mgr daemon -i mgr1 --public-addr 172.27.0.12
    networks:
      ceph-net:
        ipv4_address: 172.27.0.12
      traefik_reverse_proxy: 
    depends_on:
      - mon1
    volumes:
      - ceph-mgr1:/var/lib/ceph/mgr/ceph-mgr1
    expose:
      - "6075"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ceph-dashboard.rule=Host(`ceph.{{ domain }}`)"
      - "traefik.http.routers.ceph-dashboard.entrypoints=websecure"
      - "traefik.http.routers.ceph-dashboard.tls.certresolver=myresolver"
      - "traefik.http.services.ceph-dashboard.loadbalancer.server.port=8080"

  osd1:
    image: ceph/daemon:latest
    container_name: osd1
    hostname: osd1
    command: osd daemon -i 0 --cluster-network 172.27.0.0/24 --public-network 172.27.0.0/24
    networks:
      ceph-net:
        ipv4_address: 172.27.0.13
    depends_on:
      - mon1
    volumes:
      - ceph-osd1:/var/lib/ceph/osd/ceph-0
    environment:
      - CEPH_VOLUME_OSD_ID=0
      - CEPH_VOLUME_OSD_UUID=$(uuidgen)
    deploy:
      restart_policy:
        condition: on-failure

networks:
  traefik_reverse_proxy:
    external: true
  ceph-net:
    ipam:
      driver: default
      config:
        - subnet: 172.27.0.0/24

volumes:
  ceph-mon1:
  ceph-mgr1:
  ceph-osd1: