version: '3.8'

services:
  gitlab:
    image: gitlab/gitlab-ee:latest
    container_name: gitlab
    restart: always
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://gitlab.{{ domain }}'
        gitlab_rails['gitlab_shell_ssh_port'] = 22
    ports:
      - "3443:443"   # پورت HTTPS
      - "3001:80"    # پورت HTTP
      - "3022:22"    # پورت SSH (برای دسترسی گیت)
    volumes:
      - gitlab_config:/etc/gitlab
      - gitlab_logs:/var/log/gitlab
      - gitlab_data:/var/opt/gitlab
    networks:
      - gitlab_network
      - traefik_reverse_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitlab.rule=Host(`gitlab.{{ domain }}`)"
      - "traefik.http.routers.gitlab.entrypoints=websecure"
      - "traefik.http.routers.gitlab.tls.certresolver=myresolver"
      - "traefik.http.services.gitlab.loadbalancer.server.port=80"

networks:
  gitlab_network:
    driver: bridge
  traefik_reverse_proxy:
    external: true

volumes:
  gitlab_config:
  gitlab_logs:
  gitlab_data:
