services:
  harbor-portal:
    image: goharbor/harbor-portal:v2.11.0
    container_name: harbor-portal
    restart: unless-stopped
    depends_on:
      - harbor-core
    networks:
      - traefik_reverse_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.harbor.rule=Host(`harbor.{{ domain }}`)"
      - "traefik.http.routers.harbor.entrypoints=websecure"
      - "traefik.http.routers.harbor.tls.certresolver=myresolver"
      - "traefik.http.services.harbor.loadbalancer.server.port=8080"
    environment:
      - CORE_URL=http://harbor-core:8080
      - CORE_LOCAL_URL=http://harbor-core:8080

  harbor-core:
    image: goharbor/harbor-core:v2.11.0
    container_name: harbor-core
    restart: unless-stopped
    depends_on:
      - harbor-db
      - redis
    volumes:
      - ./harbor/cfg:/etc/core
      - ./harbor/data:/data
    environment:
      - DB_HOST=harbor-db
      - DB_USER=postgres
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - REGISTRY_URL=http://registry:5000
      - PORTAL_URL=http://harbor-portal:8080
      - JOBSERVICE_URL=http://harbor-jobservice:8080
      - REDIS_URL=redis:6379
      - TOKEN_SERVICE_URL=http://harbor-core:8080/service/token
      - REGISTRY_CREDENTIAL_USERNAME=harbor_registry_user
      - REGISTRY_CREDENTIAL_PASSWORD=${REGISTRY_PASSWORD}
      - EXTERNAL_ENDPOINT=https://harbor.{{ domain }}
    networks:
      - traefik_reverse_proxy

  harbor-jobservice:
    image: goharbor/harbor-jobservice:v2.11.0
    container_name: harbor-jobservice
    restart: unless-stopped
    depends_on:
      - harbor-core
      - redis
    volumes:
      - ./harbor/cfg:/etc/jobservice
      - ./harbor/data:/data
    environment:
      - CORE_URL=http://harbor-core:8080
      - REDIS_URL=redis:6379
    networks:
      - traefik_reverse_proxy

  registry:
    image: goharbor/registry-photon:v2.11.0
    container_name: harbor-registry
    restart: unless-stopped
    volumes:
      - ./harbor/registry:/storage
      - ./harbor/cfg:/etc/registry
    environment:
      - REGISTRY_HTTP_ADDR=0.0.0.0:5000
      - REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/storage
    networks:
      - traefik_reverse_proxy

  harbor-db:
    image: goharbor/harbor-db:v2.11.0
    container_name: harbor-db
    restart: unless-stopped
    volumes:
      - ./harbor/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=registry
    networks:
      - traefik_reverse_proxy

  redis:
    image: redis:7.0
    container_name: harbor-redis
    restart: unless-stopped
    volumes:
      - ./harbor/redis:/data
    networks:
      - traefik_reverse_proxy

networks:
  traefik_reverse_proxy:
    external: true
