services:
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "9281:80"
    environment:
      - PMA_HOSTS=nikan_container-gateway-db,nikan_container-portal-db,test_container-gateway-db,test_container-portal-db,simnad_container-gateway-db,simnad_container-portal-db
      - PMA_PORT=3306
      - PMA_SECRET_KEY=AhaeyrDpsmnAVPtOzsaY5ANM3PW7h98hIIR9fjgoq84=
    volumes:
      - ./custom.conf:/etc/apache2/conf-available/custom.conf
      - ./phpmyadmin/config.secret.inc.php:/etc/phpmyadmin/config.secret.inc.php
    command: >
      bash -c "a2enconf custom && apache2-foreground"
    networks:
      - traefik_reverse_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.phpmyadmin.rule=Host(`phpmyadmin.{{ domain }}`)"
      - "traefik.http.routers.phpmyadmin.entrypoints=websecure"
      - "traefik.http.routers.phpmyadmin.tls.certresolver=myresolver"
      - "traefik.http.services.phpmyadmin.loadbalancer.server.port=80"
      - "traefik.http.routers.phpmyadmin.middlewares=phpmyadmin-auth"
      - "traefik.http.middlewares.phpmyadmin-auth.basicauth.users=admin:$$apr1$$ZjqNihhn$$W/jOU6F1QXZt4YRATR86O0"

networks:
  traefik_reverse_proxy:
    external: true
