services:
  syslog-ng:
    container_name: syslog-ng
    image: balabit/syslog-ng:latest
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - SYSLOGNG_OPTS=--no-caps
    ports:
      - "514:514/udp"
      - "514:514/tcp"
      - "601:601/tcp"
      - "8080:8080"
    volumes:
      - ./syslog-ng/config:/etc/syslog-ng
      - ./syslog-ng/logs:/var/log
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.syslog-ng.rule=Host(`syslog.{{ domain }}`)"
      - "traefik.http.routers.syslog-ng.entrypoints=websecure"
      - "traefik.http.routers.syslog-ng.tls=true"
      - "traefik.http.routers.syslog-ng.tls.certresolver=myresolver"
      - "traefik.http.services.syslog-ng.loadbalancer.server.port=8080"
      - "traefik.http.routers.syslog-ng-http.rule=Host(`syslog.{{ domain }}`)"
      - "traefik.http.routers.syslog-ng-http.entrypoints=web"
      - "traefik.http.routers.syslog-ng-http.middlewares=syslog-ng-https-redirect"
      - "traefik.http.middlewares.syslog-ng-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.syslog-ng-https-redirect.redirectscheme.permanent=true"
    networks:
      - traefik_reverse_proxy
    healthcheck:
      test: ["CMD", "syslog-ng-ctl", "stats"]
      interval: 60s
      timeout: 10s
      retries: 5
      start_period: 30s

networks:
  traefik_reverse_proxy:
    external: true
