# 📁 نادیده گرفتن پوشه ابزارها
tools/

# 🐳 نادیده گرفتن فایل یا پوشه مربوط به داکر (Docker)
docker/

# 🔐 نادیده گرفتن فایل گواهی Let’s Encrypt
template/letsencrypt/acme.json

# ⚙️ فایل‌های پیکربندی محلی انسیبل (شخصی‌سازی‌شده برای هر محیط)
inventory.local.yml
inventory-server.local.yml

# 🔑 کلیدهای خصوصی و عمومی SSH (هرگز نباید به گیت اضافه شوند)
id_rsa
id_rsa.pub

# 🐍 فایل نصب pip برای پایتون (در صورت دانلود دستی)
get-pip.py

# 📁 پوشه‌ای با نام عددی (مثلاً فایل موقت یا ترتیب‌دهی‌شده، بهتره مشخص‌تر نام‌گذاری شه)
00/

# 📂 نادیده گرفتن همه فایل‌ها و پوشه‌ها داخل sql/
sql/*

# ✅ مستثنا کردن فایل install.sql از نادیده‌شدن
!sql/install.sql
