services:
  {{ customer_containers }}-portal:
    container_name: {{ customer_containers }}-portal
    build:
      context: .
    volumes:
      - ..:/var/www
    depends_on:
      - {{ customer_containers }}-portal-db
    ports:
      - {{ customer_portal_ports }}:80
    networks:
      - {{ customer_network_names }}

  {{ customer_containers }}-portal-db:
    image: mariadb:10.6.20-focal
    container_name: {{ customer_containers }}-portal-db
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: {{ portal_mysql_root_password }}
      MYSQL_DATABASE: {{ portal_mysql_db_name }}
      MYSQL_USER: {{ portal_mysql_user }}
      MYSQL_PASSWORD: {{ portal_mysql_password }}
      INSTANCE_NAME: {{ customer_containers }}
    volumes:
      - ./init/:/docker-entrypoint-initdb.d/
    networks:
      - {{ customer_network_names }}

networks:
  {{ customer_network_names }}:
    name: {{ customer_network_names }}
    driver: bridge
    external: true
