services:
  {{ container_name }}-portal-frontend:
    container_name: {{ container_name }}-portal-frontend
    image: node:22
    working_dir: /app
    volumes:
      - ../:/app
    command: bash -c "npm install && npm run dev"
    ports:
      - {{ portal_frontend_port }}:5173
    networks:
      - {{ network_name }}
    environment:
      INSTANCE_NAME:{{ container_name }}

networks:
  {{ network_name }}:
    name: {{ network_name }}
    driver: bridge
    external: true

