services:
  {{ container_name }}-gateway:
    container_name: {{ container_name }}-gateway
    build: .
    volumes:
      - ../admin:/var/www/html
      - ../admin/captcha_images:/var/www/html/captcha_images
      - ../admin/uploads:/var/www/html/uploads
    ports:
      - {{ gateway_port }}:80
    networks:
      - {{ network_name }}

  {{ container_name }}-gateway-db:
    image: mariadb:10.6.20-focal
    container_name: {{ container_name }}-gateway-db
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./init/:/docker-entrypoint-initdb.d/
      - ./db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: {{ gateway_mysql_root_password }}
      MYSQL_DATABASE: {{ gateway_mysql_db_name }}
      MYSQL_USER: {{ gateway_mysql_user }}
      MYSQL_PASSWORD: {{ gateway_mysql_password }}
      INSTANCE_NAME:{{ container_name }}
    networks:
      - {{ network_name }}

networks:
  {{ network_name }}:
    name: {{ network_name }}
    driver: bridge
    external: true
